html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }

body, html {
	min-height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block; }

img, fieldset, a img {
	border: none; }

input[type="text"], input[type="email"], input[type="tel"] {
	-webkit-appearance: none; }

textarea {
	-webkit-appearance: none; }

input[type="submit"], button {
	cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0; }

textarea {
	overflow: auto; }

input, button {
	margin: 0;
	padding: 0;
	border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none; }

ul, ol {
	list-style-type: none; }

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }

body, html {
	min-height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block; }

img, fieldset, a img {
	border: none; }

input[type="text"], input[type="email"], input[type="tel"] {
	-webkit-appearance: none; }

textarea {
	-webkit-appearance: none; }

input[type="submit"], button {
	cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0; }

textarea {
	overflow: auto; }

input, button {
	margin: 0;
	padding: 0;
	border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none; }

ul, ol {
	list-style-type: none; }

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%; }


/*********************** END of RESET ********************/



/* для лендинга*/

@font-face {
	font-family: 'Bringin';
	src: url('fonts/Bringin.eot');
	src: url('fonts/Bringin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Bringin.woff') format('woff'),
		url('fonts/Bringin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans.eot');
	src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans.woff') format('woff'),
		url('fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('fonts/Raleway-Bold.eot');
	src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Bold.woff') format('woff'),
		url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body{
	/*overflow-x: hidden;*/
}
.size {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
	
.clearfix::after,
.size::after {
	content: '';
	overflow: hidden;
	clear: both;
	display: table;
}

header {
	height: 1080px;
	background-image: url(img/b_g_wood.png);
	background-size: cover;
	text-align: center;
}

li {
	display: inline-block;
}

.text_menu {
		color: #f1f1f1;
		font-family: 'Open Sans';
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding-right: 51px;
}
.text_menu a{
	text-decoration: none;
	color: #f1f1f1;
}
.text_menu a:hover,
.text_menu_2 a:hover,
.text_menu_4 a:hover
{
	color: gray;

}
.text_menu_2 a,
.text_menu_4 a {
	text-decoration: none;
	color: #bebebe;
}


.menu {
	
	height: 61px;
	border-bottom: 5px solid white;
	padding-top: 40px;
	width: 1200px;
    display: block;
    margin: 0 auto;
}

.logo_tm {
	padding-top: 7%;
}

.j_wood {
	color: #f1f1f1;
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 60px;
	font-family: 'Raleway-Bold';
	margin-bottom: 100px;
}

.j_phtgrf {
		font-family: 'Raleway-Bold';
}

.scroll_down {
	color: #f1f1f1;
	font-family: 'Raleway-Bold';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.arrow {
	margin-top: 17px;
	margin-bottom: 50px;
}


.content{
	height: 880px;
	text-align: center;
	background-color: white;
	width: 1200px;
    display: block;
    margin: 0 auto;
}

.menu_2 {
	height: 61px;
	padding-top: 30px;
	margin-bottom: 30px;
	
}




.text_menu_2 {
	color: #bebebe;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	padding-right: 51px;


}



.f_card {
	width: 700px;
	height: 701px;
	background-image: url(img/jason-wood.png);
	margin-top: 75px;
	margin-left: 17%;
	float: left;
	background-size: cover;
	margin-right: 10px;

}

.article {
	float: left;
	width: 42%;
	text-align: left;
	padding-left: 51px;
	clear: right;
}

.ab_me {
	color: #202020;
	font-family: 'Raleway-Bold';
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin-top: 70px;


}

.lorem {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 300;
	line-height: 40px;
	padding-bottom: 39px;
}



.sign {
	color: #202020;
	font-family: 'Bringin';
	font-size: 36px;
	font-weight: 400;
	line-height: 50px;
}

.scroll_down_2 {
	color: #bebebe;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	clear: left;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	
}


.arrow_2 {
	float: left;
	clear: both;
	padding-left: 48%;
	padding-top: 1.77%;}


.portfolio {
	width: 100%;
	height: 1080px;
	text-align: center;
	background-image: url(img/bg_3str.png);
	background-size: cover;

}

.menu_3 {
	display: block;
	width: 1200px;
	padding-top: 27px;
	padding-bottom: 27px;
	border-bottom: 2px solid #bebebe;
	margin: 0 auto;
	

}

.port_lio {
	color: #f1f1f1;
	font-family: 'Open Sans';
	font-size: 60px;
	font-weight: 400;
	line-height: 120px;
	text-transform: uppercase;
}

.foto_album {
	width: 100%;
    height: 550px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 4%;
    box-sizing: border-box;
}

.f_album {
	padding: 1% 1%;
	width: 17%;

}

.scroll_down_3 {
	color: #f1f1f1;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 90px;

}

.arrow_3 {
	margin-top: 22px;
	padding-bottom: 50px;	

}

.contact {
	height: 900px;
	background-color: white;
	text-align: center;
}

.text_menu_4 {
		color: #bebebe;
		font-family: 'Open Sans';
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding-right: 51px;
}

.cont_mail {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 10%;
	padding-bottom: 2%;
}


.adress {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 3%;
}

.phone {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 2%;
}

.number {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 4%;
}

.soc_media {
	color: #202020;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 2%;
}


.iconki {
	padding-right: 28px;
}


footer {
	width: 100%;
	height: 90px;
	text-align: center;
}

.foot_er {
	width: 80%;
	padding-right: 10%;
	padding-left: 10%;
	border-top: 1px solid #bebebe;
}

.by_design {
	color: #bebebe;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 43px;
	padding-bottom: 46px;
}


.article_img{
	float: left;
    width: 50%;
    margin-right: 20px;
}


.line {
	display: block;
	width: 1200px;
	border-bottom: 2px solid #bebebe;
	margin: 0 auto;
	padding-top: 24px;
 }

@media screen and (min-width: 769px) and (max-width: 1199px) { 
    .menu_3,
    .menu,
    .content  {
    	width: 100%;
    	padding: 30px 0;
 		box-sizing: border-box;


    }
    .menu_2 {
    	margin-bottom: 0;
    }


    .line {
    width: 82%;
    display: block;
    margin: 0 auto;
    border-bottom: 5px solid #bebebe;
    padding-top: 30px;

}
   
}
@media only screen and (max-width: 767px) {

}